<header class="c-masthead">
    <div class="o-grid o-grid--gutter">
        <div class="o-grid__cell c-template__side">
            <h1 class="c-masthead__title"><a href="/" class="u-text-no-underline">Liesbeth Van Lancker</a></h1>
            <h2 class="c-masthead__subtitle">Nontoxic printmaking</h2>
        </div>
        <div class="o-grid__cell c-template__main">
            <p class="c-masthead__desc">
                Liesbeth Van Lancker is a nontoxic printmaker from Gent, Belgium. Liesbeth draws, etches and occasionally uses soft ground, dry point and monotype. She teaches nontoxic printmaking at the Academie voor Beeldende Kunst in Gent. <a href="mailto:liesbethvanlancker@gmail.com">Contact&nbsp;Liesbeth.</a>
            </p>
        </div>
    </div>
</header>
