/*------------------------------------*\
    #WORK
\*------------------------------------*/



.c-work {
    margin-bottom: 1.3889rem;
}

    .c-work__title {
        margin-bottom: .8rem;
    }

    .c-work__image {
        margin-bottom: .8rem;
        width: 100%;
    }
